 @font-face{
  font-family: Libre-Baskerville; /* heading-font */
  src: url('./assets/fonts/LibreBaskerville-Bold.ttf');
 }
 @font-face {
  font-family: 'UoqMunThenKhung';
  src: url('./assets/fonts/UoqMunThenKhung-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cactus-Classical-Serif'; /* body-font secondary headingfont */
  src: url('./assets/fonts/CactusClassicalSerif-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf') format('truetype');
}
/* navbar-font */
@font-face {
  font-family: 'IBMPlexSans';
  src: url('./assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}


 @import "tailwindcss"; 

@theme{
  --font-Libre-Baskerville: Libre-Baskerville;
  --font-UoqMunThenKhung: UoqMunThenKhung;
  --font-Cactus-Classical-Serif: Cactus-Classical-Serif;
  --font-Inter: Inter;
  --font-IBMPlexSans: IBMPlexSans;
}

html, body {
  height: 100%;
}

body{
  overflow-x:hidden;
}

{/*swiper naigation block*/}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

{/*loading dots animation*/}
@keyframes dots {
  0% { content: ''; }
  33% { content: '.'; }
  66% { content: '..'; }
  100% { content: '...'; }
}

.animate-dots::after {
  display: inline-block;
  white-space: pre;
  animation: dots 1.5s steps(3, end) infinite;
  content: '';
}

